#navbar-logo{
    margin-top: 5px;
    margin-left: 50px;
    height: 50px;
}

@media only screen and (min-width: 540px){
    .parallax-container{
        height: 400px;
    }
}

.scrolled{
    background-color: unset;
}

.scrolled{
    opacity: 0.8;
}

@font-face{
    font-family: 'Boogaloo-Regular';
    src: url('fonts/Boogaloo-Regular.ttf');
}

.boogaloo{
    font-family: 'Boogaloo-Regular'
}

#social-links{
    list-style:none;
    display:inline-flex;
}

#social-links li a{
    margin: 0px 10px;
}

#sobre ul li{
    margin:5px 0;
}


#servicos .container{
    width:90%;
}

.card{
    height: 225px;
}

.invisible{
    opacity: 0;
}

@media only screen and (min-width:992px){
    .card{
        height: 260px
    }
}
/* #home-container{
    display: none;
} */